<section>
    <a href="/posts/new" class="btn btn-outline-primary mb-5">Publica lo que piensas!</a>
     <% @posts.each do |post| %>
        <div class="card mb-5" style="width: 60rem;">
            <div class="card-body">
                <h5 class="card-title"> <%= post.title %> </h5>
                
                <p class="card-text"> <%= post.contenido %> </p>
                <a href="#" class="btn btn-outline-primary">Like</a>
                <%= link_to "Ver post", post, :class=>"btn btn-outline-primary"%>
            </div>
            <div class="card-footer text-muted">
                <%= post.created_at %>
            </div>
        </div>
     <% end %>
</section>